data/train/NORMAL/** filter=lfs diff=lfs merge=lfs -text
data/train/PNEUMONIA/** filter=lfs diff=lfs merge=lfs -text
data/val/NORMAL/** filter=lfs diff=lfs merge=lfs -text
data/val/PNEUMONIA/** filter=lfs diff=lfs merge=lfs -text
